<div id="dark_header_wrap">
  <div id="dark_header">
    <div id="logo">
      <%= link_to root_url do %>
      <%= image_tag "logo.png", class: "logo"%>
      <% end %>
    </div>
    
    <div class="dark-nav nav">
      <% if current_user %>
      <%= link_to "Add Gram", new_gram_path%>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <p id="signed_in"><%= current_user.username%></p>
      
      <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
    <div class="dark-mobile_nav"></div>
    <div class="dark-mobile_nav_menu">
      <div class="dark-mobile_menu">
        <% if user_signed_in? %>
        <span><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span>
        <% else %>
        <span><%= link_to 'Sign In', new_user_session_path %></span>
        <span><%= link_to 'Sign Up', new_user_registration_path %></span>
        <% end %>
      </div>
      <div class="dark-mobile_close">
        
      </div>
    </div>
  </div>
</div>
