<!DOCTYPE html>
<html>
<head>
  <title>Grammable2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
  
  <% if !params[:controller].start_with?("devise") %>
  
  <%= render partial: 'layouts/nav' %>
  <%end%>
  <% if notice.present? %>
  <p class="notice"><%= notice %></p>
  <% end %>
  
  <% if alert.present? %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
  
  <script>(function($){
    
    $('.dark-mobile_nav').click(function() {
      $(".dark-mobile_nav_menu").animate({right: 0});
    });
    $(".dark-mobile_close").click(function() {
      $(".dark-mobile_nav_menu").animate({right: -270});
    });
    
  })(jQuery);</script>
</body>
</html>
